h1 {
    color: #a00083;
    font-family: 'Ruge Boogie', cursive;
    font-size: xx-large;
    margin: 0;
}

h2 {
    color: #a00083;
    margin: 5;
    font-family: 'Ruge Boogie', cursive;
    font-size: x-large
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/background3test.png");
}