h1 {
    color: #87067e;
    /* #a00083; */
    font-family: 'Ruge Boogie', cursive;
    font-size: 70px;
    margin: 0;
    font-weight: bold;
}

h2 {
    color: #87067e;
    /* #a00083; */
    margin: 0;
    font-family: 'Ruge Boogie', cursive;
    font-size: 50px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/background6test.png");
    background-size: cover;
}